@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kdam+Thmor+Pro&family=Open+Sans:wght@300&display=swap');

@media screen and (max-width: 480px) {
    .container {
        color: white;
        display: block;
    }

}

@media screen and (min-width: 481px)and (max-width: 768px) {
    .container {
        display: block;

    }

    .container>img {
        display: block;
        margin: auto;
        padding: 10px;
    }
}